{% from "macros/date.html" import format_date %}

{% macro render_downloads(tag='', validonly=false, explicit=false, noheader=false) %}

{#

	Usage:
	{% from "macros/downloads.html" import render_downloads %}
	{{ render_downloads(tag='intern', explicit=true, validonly=true, noheader=true) }}

	tag: tag to include; default = empty = all entries
	validonly: include only valid entries; default = false
	explicit: include explicit sections in output; default = false
	noheader: print no section and table header; default = false


	Error:
	Links in description are not rendered correctly. Trying

	{{ download.description | markdown | replace('<p>', '') | replace('</p>', '') | safe | trim }}

	does not work either: no HTML generated but no error message as well.

#}

	{% for path, download_section in bag('downloads').items() %}

		{% if (download_section.explicit == null) or ((download_section.explicit) and explicit) %}

			{% if (tag == '') or (tag in download_section.tags) %}

				{% if (noheader == false) %}
### {{ download_section.title }}
				{% endif %}

<div class="table-responsive">

{% set table %}
{% if noheader %}||||{% else %}| Name | Beschreibung | Stand |{% endif %}
|:-|:-|:-|
{% for download in download_section.downloads -%}
	{% if (validonly == false) or (download.valid) or (download.valid is undefined) -%}
		{% set filedate = format_date(download.lastchange, 'short_en') -%}
		{% set filename = '/downloads/%s/%s?v=%s' | format(path, download.filename, filedate) | url -%}
		| {% if download.directlink %}{{ '[%s](%s)' | format(download.title, download.directlink) -}}{% else -%}{{ '[%s](%s)' | format(download.title, filename) -}}{% endif -%}
		| {{ download.description | trim }}{% if download.valid %} (aktuell gültig){% endif -%}{% if download.directlink %} {{ ' ([Lokale Kopie](%s))' | format(filename) | markdown | replace('<p>', '') | replace('</p>', '') | safe | trim -}}{% endif -%}
		| {{ format_date(download.lastchange, 'full') -}}
		| {# oneline -#}
	{% endif %}
{% endfor %}
{% endset %}
{{ table | markdown | replace('<table>', '<table class="table table-bordered table-striped">') | safe }}

</div>

			{% endif %}

		{% endif %}

	{% endfor %}

{% endmacro %}
