iframe.osm {

	border-width: 1px;
	border-style: solid;
	width: 50%;
	height: 50ex;
	overflow: hidden; /* remove scrollbars, not reliable in browsers yet, thus scrolling="no" remains in html */
	border-color: grey;

}

.canceled {
	text-decoration: line-through;
}

/* EOF */
